
.bigName {
    font-size: 40px;
    color: #000;
    font-family: 'Questrial', sans-serif;
}

.newnav {
    background-color: white;
}

.round{
    border-radius: 100%;
    width:200%;
    height: 200%;
    overflow: hidden;
    max-width: none;
    min-width: 30%;
}

/*object fit- removes stretch in pic*/
.fitpic {
  width: 360px;
  object-fit: cover;
}

.myH {
    color: #111; font-family: 'Open Sans', sans-serif; font-size: 40px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: left; 
}

.myHfont {
    font-size: inherit;
}

.mydiv {
    width: 400px;
    border-top: 5px solid #f8f8f8;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    h1 
     {
        font-size:90px;
         color: #ccff00;
         text-align: left;
    }
[class*="col-"] {
    width: 100%;
}

[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}


.socialB {
    word-wrap: break-word;
    line-height: 10px;
}
    

