
.bigName {
    font-size: 40px;
    color: #000;
    font-family: 'Questrial', sans-serif;
    margin-left: 200px;
}

.navscroll{
    color: black;
}

.hello {
    font-size: 140px; 
    width: auto 100%;
    height: auto 100%;
    vertical-align: middle;
    float: left;
}

.intro-header .hello {
    color: #fff;
    font-size: 140px;
    margin-left: 10%;
    margin-top: 20%;
    font-family: 'Source Code Pro', monospace;
    /*font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Julius Sans One', sans-serif;*/
}

.newnav {
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    font-size: 18px;
}

.newnav .dropdown-menu{
    background-color: white;
    color: black;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}

.navbar-toggle {
    color: white;
    position: relative;
    float: left; 
    background-color: transparent;
    border-radius: 100%;
    border-width: 3px;
    height: 50px;
}

.caret{
    color: transparent;    background-color: transparent; border-color: transparent;
}

.aligntoggle{
    vertical-align: top;
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
    margin-top: -8px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: white;
}

.navbar-toggle:hover .aligntoggle{
    vertical-align: top;
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
    margin-top: -8px;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    color: black;
}

.otis li {
    list-style-type: none;
    text-align: right;
    font-size: 25px;
}

.section-A{
    height: 100%;
    color: #fff;
    background: url(../img/banner43.jpg) no-repeat center center;
    background-size: cover;
}
.section-A .hello {
    color: #ccff00;
    font-size: 120px;
    width: 100%;
    text-align: right;
    letter-spacing: -9px;
}

.section-A .row{
    height: 100%;
}
.section-A {
    height: 120%;
}
.section-B {
    height: 120%;
}
.section-C {
    height: 100% auto;
}

.section-A span.highlight {
    background-color: #ccff00;
    text-decoration: none;
    font-size: 25px;
    /*padding-left: 30%;*/
}

.section-B .otis li {
    list-style-type: none;
    text-align: left;
    color: white;
    clear: left;
    width: 100%;
}

.section-B .contentBio{
    width: 100%;
}

.section-B{
    height: 100%;
    color: #fff;
    background: url(../img/music5.jpg) no-repeat center bottom;
    background-size: cover;
}

.section-B .row{
    vertical-align: middle;
    text-align: left;
    padding-left: 5%;
    margin-top: 0%;
}

.section-B .hello {
    color: #ccff00;
    font-size: 140px;
    letter-spacing: -4px;
    text-align: left;
    height: 100%;
    padding-left: 2%;
}

.section-B .subhead{
    font-size: 25px;
    color: #000;
    font-weight: 100;
    text-align: left;
    padding-left: 2%;
}

.section-B span.highlight {
    background-color: #ccff00;
    text-decoration: none;
    /*padding-left: 30%;*/
}

.section-C{
    height: 100%;
    color: #fff;
    background: url(../img/techbanner.jpg) no-repeat center center;
    background-size: cover;
}

.section-C .otis li {
    list-style-type: none;
    color: white;
    height: 100%;
    display: block;
    clear: left;
}

.section-C .subhead2 {
    font-size: 40px;
    color: #000;
    font-weight: 100;
    height: 0%;
}

.section-C .subhead {
    font-size: 20px;
    color: #000;
    font-weight: 100;
    height: 100%;
    float: right;
    line-height: 0;
}

.section-C .row{
    height: 100% auto;
    width: auto;
}

.section-C .hello {
    color: #ccff00;
    font-size: 140px;
    text-align: left;
    display: block;
    clear: right;
    letter-spacing: -4px;
    padding-left: 5%;
}

.section-C span.highlight {
    background-color: #ccff00;
    /*padding-left: 30%;*/
}

.section-C .contentBio {
    text-align: right;
    font-size: 20px;
    height: 100%;
    vertical-align: middle;
    color: black;
    text-transform: uppercase;
    float: right;
}

.section-C .col1 {
    width:100%;
    font-size: 20px;
    color: #000;
    font-weight: 100;
    float: right;
}

.techlist{
    font-size: 20px;
    color: white;
    word-wrap: break-word;
    display: block;
}

.scroll{
    text-align: center;
    font-size:24px;
    color: white;
    width: 100%;
    line-height: 0px;
    margin-right: 0%;
    font-family: monospace;
}

.dropdown-menu{
    background-color: black;
    color: white;
    text-align: center;
    width: 32.8%;
    position: absolute;
    left: auto;
    right: 0;
    margin-top: -17px;
    margin-right: 10px;
}

.open > .dropdown-menu{
    overflow: scroll;
    height: 200px;
}

.lastdrop{
    height: 100%;
}

.alldropdowns{
    float: right;
    margin-right: 10%;
    text-align: right;
    width: 100%;
    position: relative;
}

.subhead3{
    color: #ccff00;
    text-transform: uppercase;
    font-size: 25px;
}

.dropdown-item .subhead3{
    color: #ccff00;
    text-transform: uppercase;
    font-size: 15px;
    width: auto;
}


.bottomTitle{
    color: #ccff00;
    font-size: 100px;
}

.btn {
    border-color: transparent;
    background-color: transparent;
}

.btn .btn-default{
    border-color: transparent;
    background-color: transparent;
}

.btn-default:focus, .btn-default.focus{
    border-color: transparent;
    background-color: transparent;
}

.contact{
    text-align: center;
    margin: 20px;
    color: black;
    font-size: 30px;
}

.downLink{
    margin-bottom: 150px;
    margin-top: 30px;
    margin-right: 10px;
}

.downText{
    padding-top: 2em;
    margin-top: 13em;
}

.shortSep{
    border: none;
    height: 1px;
    width: 20em;
    /* Set the hr color */
    color: darkgray; /* old IE */
    background-color: darkgray; /* Modern Browsers */
}

.downText2{
    padding-top: 2em;
    margin-top: 5em;
}

.round{
    border-radius: 100%;
    width:200%;
    height: 200%;
    overflow: hidden;
    max-width: none;
    min-width: 30%;
}

.lastResort{
    border-radius: 100%;
    width:200%;
    height: 200%;
    overflow: hidden;
    max-width: none;
    min-width: 30%;
    margin-top: -230px;
}

/*object fit- removes stretch in pic*/
.fitpic {
  width: 360px;
  object-fit: cover;
}

.myH {
    color: #111; font-family: 'Open Sans', sans-serif; font-size: 40px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: left; 
}

.myHfont {
    font-size: inherit;
}

.mydiv {
    width: 400px;
    border-top: 5px solid #f8f8f8;
}

.titleSec{
    color: #ccff00;
    font-size: 120px;
    letter-spacing: -.5vw;
    text-transform: capitalize;
    line-height: 60px;
    padding-top: 400px;
    margin-right: 400px;
    padding-bottom: 500px;
}

.titleSec2{
    color: #ccff00;
    font-size: 120px;
    text-transform: capitalize;
    letter-spacing: -.5vw;
    word-break: normal;
    line-height: 95px;
    padding-left: 3em;
    float: right;
    text-align: right;
    z-index:1000;
}


@media only screen and (max-width: 768px) {
    h1 
     {
        font-size:90px;
         color: #ccff00;
         text-align: left;
    }
}

[class*="col-"] {
    width: 100%;
}

[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

.smallImg{
    height: 20vw;
    width: 1vw;
}

.socialB {
    word-wrap: break-word;
    line-height: 10px;
    width: 30%;
    text-align: left;
    position: relative;
}
    
.centerBio{
        align-content: center;
        background-color: white;
}

.contentBio {
    text-align: right;
    font-size: 20px;
    vertical-align: middle;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 0%;
    padding: 0%;
    color: black;
    text-transform: uppercase;
}

.subhead{
    float:left; width:100%;
    font-size: 20px;
    color: #000;
    font-weight: 100;
}

span.highlight {
    background-color: #ccff00;
    text-decoration: underline;
    /*padding-left: 30%;*/
}

.blockQuote {
    text-align: center;
    font-size: 30px;
    background-color: #808080;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}


@media only screen and (max-width: 1200px)
    .columnTwo{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
   -webkit-column-rule-width: 1em; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1em; /* Firefox */
    column-rule-width: 1em;
    margin-right: 900em;
    padding-right: -900em;
    padding-left: 900em;
    margin-left: 900em;
}


@media only screen and (max-height: 508px) {
    .intro-header {
    height: 200%;
    text-align: center;
    color: #fff;
    background: url(../img/main2.jpg) no-repeat center center;
    background-size: cover;
    }
    .section-A {
        height: 200%;
    }
     .section-B {
        height: 200%;
    }
     .section-C {
        height: 200%;
    }
}



/*tablet column 2 interests*/
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .columnTwo{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
   -webkit-column-rule-width: 1em; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1em; /* Firefox */
    column-rule-width: 1em;
    margin-right: 4em;
    padding-left:-30em;
    }
      
.section-C .subhead2 {
    margin-top: 50px;
    font-size: 25px;
    color: #000;
    font-weight: 100;
    height: 100%;
}

.techlist {
    font-size: 15px;
    color: white;
    word-wrap: break-word;
    display: block;
    margin: 5%;
    line-height: 20px;
}

.section-C .dropdown-menu {
    height: 180%;
}
      
.dropdown-menu{
    color: white;
    background-color: black;
    text-align: center;
    margin-left: 10%;
    padding: 0px;
    position: absolute;
    width: 70%;
}
.alldropdowns{
    float: right;
    text-align: right;
    width: 70%;
    position: relative;
    margin-right: 0%;
}
    
.subhead3{
    color: #ccff00;
    text-transform: uppercase;
    font-size: 15px;
}
      
.dropdown-menu {
    top: auto;
    margin-bottom: -55px;
}
      
.section-C .dropdown-menu {
    top: auto;
}

open > .dropdown-menu {
    display: block;
}
      
.leftdrop {
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 40%;
    width: 50%;
    position: absolute;
    bottom: -70%;
    left: -14%;
    right: 0;
}


.dropdown-item .subhead3{
    color: #ccff00;
    text-transform: uppercase;
    font-size: 15px;
}
    
.dropdown-item {
    margin: 0px;
    padding: 0px;
}
    
.hello{
    font-size: 90px;
}
.section-A .hello{
    font-size: 90px;
    letter-spacing: -1px;
}
.section-A {
    height: 90%;
}
.section-B .hello{
    font-size: 90px;
    letter-spacing: -1px;
}

.section-B .subhead{
width:100%;
font-size: 20px;
color: #000;
font-weight: 100;
text-align: left;
}

.section-B {
    padding-top: 10%; 
    height: 90%;
}

.section-C .newcol{
    width: 0%;
}

.section-C{
    width: 100%;
}
.section-C .hello {
    padding-top: 50px;
    font-size: 90px;
    letter-spacing: -1px;
    margin-left: 3%;
}

.section-C .subhead{
    width:100%;
    font-size: 20px;
    color: #000;
    font-weight: 100;
    text-align: left;
    margin-left: 3%;
}

.section-C {
    height: 85%;
}

.section-C .techlist{
    font-size: 20px;
}

.section-C .alldropdowns{
    position: relative !important;
}
}

/*mobile column 2 interests*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      
.columnTwo{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
   -webkit-column-rule-width: 1em; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1em; /* Firefox */
    column-rule-width: 1em;
    margin-right: 4em;
    padding-left:-30em;
    }

.newnav {
    background-color: white;
    color: black;
    border-color: transparent;
    width: 100%;
    position: fixed;
    text-align: center;
}
      
.mobilelinknav{
    color: white;
    margin-right: 30px;
    text-transform: uppercase;
}
      
.intro-header .hello {
    color: #fff;
    font-size: 80px; 
    width: auto;
    height: auto;
    margin-top: 130%;
    font-family: 'Source Code Pro', monospace;
    /*font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Julius Sans One', sans-serif;*/
}

.alldropdowns{
    float: right;
    text-align: right;
    width: 90%;
    position: absolute;
    margin-top: 100px;
}
    
.subhead3{
    color: #ccff00;
    text-transform: uppercase;
    font-size: 15px;
}

.dropdown-item .subhead3{
    color: #ccff00;
    text-transform: uppercase;
    font-size: 15px;
}
    
.dropdown-item {
    margin: 0px;
    padding: 0px;
}

.section-A .hello{
    font-size: 50px;
    display: block; 
    word-wrap: break-word; 
    clear: both;
    text-align: left;
    line-height: 60px;
    letter-spacing: -3px;
    margin-bottom: 5%;
}

.section-A {
    height: auto;
    width: 100%;
    color: #fff;
    background: url(../img/banner43mobile.jpg) no-repeat center center;
    background-size: cover;
}
    
.section-A .subhead{
    width:100%;
    font-size: 20px;
    color: #000;
    font-weight: 100;
    margin-left: 3%;
    margin-top: 0%;
}

.section-A .otis li{
    color: white;
    font-size: 13px;
}
      
      .section-B{
          height: 100%;
      }
      .section-C{
          height: 100%;
      }
    
.section-B .hello{
    font-size: 50px;
    letter-spacing: -1px;
    margin-left: 3%;
    margin-bottom: 0%;
    margin-left: 3%;
}

.section-B .subhead{
    width:80%;
    font-size: 20px;
    color: #000;
    font-weight: 100;
    text-align: left;
    float: left;
    margin-left: 10%;
    padding: 0%;
}

.section-B .row{
    vertical-align: middle;
    text-align: left;
    height: 100% auto;
    margin-top: 5%;
    padding: 0%;
    width: 90%;
}
      
.section-B .otis li {
    list-style-type: none;
    text-align: left;
    color: white;
    font-size: 13px;
    clear: left;
    width: 100%;
}
      
.section-C .newcol{
    width: 0%;
}

.section-C .hello {
    padding-top: 50px;
    font-size: 50px;
    letter-spacing: -1px;
    margin-bottom: 80px;
    margin-top: -10%;
}

.section-C .subhead{
    width:100%;
    font-size: 20px;
    color: #000;
    font-weight: 100;
    text-align: left;
    margin-left: 3%;
}
   

.section-C .alldropdowns{
    height: 100%;
    width: 100%;
    margin-top: -60px;
    margin-right: 0px;
    position: relative;
}

.section-C{
    color: #fff;
    background: url(../img/techbanner.jpg) no-repeat center center;
    background-size: cover;
    background-position: right;
    height: 100%;
}
      
.section-C .row{
  width: 100%;
}
    
.section-C .subhead2 {
    margin-top: 20px;
    font-size: 14px;
    color: #000;
    font-weight: 100;
}

.section-C .subhead3 {
    font-size: 11px;
    line-height: 0px;
}

.section-C .otis li {
    list-style-type: none;
    height: 100%;
    display: block;
    clear: left;
    margin: 30%;
    width: auto;
}
      
 .section-C .dropdown-menu{
    background-color: black;
    color: white;
    text-align: center;
    width: 76%;
    position: absolute;
    left: auto;
    right: 0;
    height: 250%;
    margin-top: -18px;
    margin-right: 10px;
}
      
.section-C .techlist{
      font-size: 12px;
        line-height: 1.3;
}
      
.leftdrop {
    background-color: black;
    color: black;
    text-align: center;
    width: 90%;
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0;
}


.dropdown-menu .leftdrop {
    background-color: black;
    color: black;
    text-align: center;
    width: 90%;
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0;
}

}


/*iphone 5*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

.section-A{
height: auto;
padding-bottom: 20%;
}
.section-B{
height: 100%;
}
.section-C{
height: 100%;
}
      
.section-A span.highlight{
  font-size: 18px;
}

.section-A .subhead{
  padding-right: 2%;
}

.section-B .hello{
font-size: 50px;
letter-spacing: -1px;
margin-left: 3%;
margin-bottom: 0%;
margin-left: 3%;
}

.section-C .otis li {
font-size: 18px;
}

.section-A .otis li {
font-size: 15px;
}

.section-B .otis li {
font-size: 15px;
}

.section-C .techlist{
font-size: 13px;
line-height: 1.3;
}
      
.section-C .dropdown-menu{
  height: 200%;
}
      
.section-C .alldropdowns{
  margin-top: 1px;
}

.section-C .hello {
padding-top: 50px;
font-size: 50px;
letter-spacing: -1px;
margin-bottom: 80px;
margin-top: -10%;
}

.section-C .subhead{
width:100%;
font-size: 20px;
color: #000;
font-weight: 100;
text-align: left;
margin-left: 3%;
}


.section-C .subhead2 {
margin-top: 20px;
font-size: 15px;
color: #000;
font-weight: 100;
}

.section-C .subhead3 {
font-size: 12px;
}
      
      
}

/*iphone 6 plus*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

.section-A {
  height: 90%;
}
    .section-B{
  height: 100%;
}
    .section-C{
  height: 90%;
}
.section-B .otis li{
  font-size: 18px;
}

.section-B .hello{
font-size: 50px;
letter-spacing: -1px;
margin-left: 3%;
margin-bottom: 0%;
margin-left: 3%;
}

.section-C{
padding-top: 20%;
}

.section-C .techlist{
font-size: 15px;
line-height: 1.3;
}


.section-C .hello {
padding-top: 50px;
font-size: 50px;
letter-spacing: -1px;
margin-bottom: 80px;
margin-top: -10%;
}

.section-C .subhead{
width:100%;
font-size: 20px;
color: #000;
font-weight: 100;
text-align: left;
margin-left: 3%;
}


.section-C .subhead2 {
margin-top: 15px;
font-size: 20px;
color: #000;
font-weight: 100;
}


.section-C .subhead3 {
font-size: 14px;
}

.section-C .otis li {
font-size: 18px;
}

.section-A .otis li {
font-size: 18px;
}

}


/*tablet column 2 interests
@media only screen and (min-width: 600px) {
    .columnTwo{
    -webkit-column-count: 2; /* Chrome, Safari, Opera 
    -moz-column-count: 2; /* Firefox 
    column-count: 2;
   -webkit-column-rule-width: 1em; /* Chrome, Safari, Opera 
    -moz-column-rule-width: 1em; /* Firefox 
    column-rule-width: 1em;
    margin-right: 15em;
    padding-left:-30em;
    }
}


.bqstart {
     float: left;
     margin-top: -70px;
     font-size: 700%;
     color: #ccff00;
 }

 .bqend {
     float: right;
     font-size: 700%;
     color: #ccff00;
 }

*/


/*columns for desktop*/
    /*#right
    {
        margin-left: 0px;
        margin-right: -40px;
        float: left;
        /* Change this to whatever the width of your left column is*/
    }

    /*.clear
    {
      clear: both;
    }*/
/*SPACING ISSUES: 
TABLET VERSION OF HEADER HELLO 
INTERESTS DESKTOP COLUMNS
RECOMMENDATION LETTERS*/